.pagination {
  width: fit-content;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  margin-top: 4.3rem;
  margin: 0 auto;
}
.btnTxt {
  width: 1.6rem;
  height: 1.6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}
