html {
  font-size: clamp(10px, 2vw, 16px);
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: clamp(20rem, 80%, 40rem);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 22.24px;
  margin-bottom: 40px;
}
.logo-img {
  width: 103.53px;
  height: 103.53px;
}
.logo-txt {
  font-size: 4.15rem;
  font-weight: 700;
  color: var(--primary-bg-color);
}

/*input 관련 css*/
.input {
  width: 100%;
  height: 98px;
}
.input-txt {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--secondary-color-800);
}
.input-bar {
  width: 100%;
  height: 56px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  margin-top: 16px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-bar:focus-within {
  border: 1px solid var(--primary-bg-color);
}
.input-bar input {
  flex: 1;
  height: 26px;
  background-color: var(--secondary-color);
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color-800);
}
.input-bar input:focus {
  outline: 0;
}
.input-bar img {
  width: 24px;
  height: 24px;
}
.input-bar img:hover {
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 56px;
  background-color: var(--secondary-bg-color-400);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
}
.btn-txt {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.social-login {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  background-color: var(--quaternary-bg-color);
  border-radius: 8px;
}
.social-txt {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color-800);
}
.social-btn {
  width: 42px;
  height: 42px;
}
.social-btns {
  display: flex;
  gap: 16px;
}
.social-btn:hover {
  cursor: pointer;
}
.signup {
  display: flex;
  gap: 4px;
}
.signup-link {
  text-decoration: underline;
  color: var(--brand-blue);
}
