.top {
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
  font-weight: 700;
}
.toolbar {
  display: flex;
}
.list {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 2.4rem;
}
