:root {
  /*color variables*/
  --brand-blue: #3182f6;
  --primary-bg-color: #3692ff;
  --secondary-bg-color: #cfe5ff;
  --secondary-bg-color-400: #9ca3af;
  --tertiary-bg-color: #fcfcfc;
  --quaternary-bg-color: #e6f2ff;
  --primary-color: #374151;
  --secondary-color-800: #1f2937;
  --secondary-color: #f3f4f6;
  --tertiary-color: #e5e7eb;
}
