:root {
  /*color variables*/
  --brand-blue: #3182f6;
  --primary-100: #3692ff;
  --secondary-bg-color: #cfe5ff;
  --secondary-900: #111827;
  --secondary-700: #4b5563;
  --secondary-400: #9ca3af;
  --secondary-200: #e5e7eb;
  --secondary-100: #f3f4f6;
}
